.main-article {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-6);
}

.main-article h1 {
    font-size: 8em;
    color: var(--color-1);
}

