.cursor {
    aspect-ratio: 1/1;
    height: 1em;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: var(--color-6);

    border-radius: 100%;

    pointer-events: none;

    transition: transform .3s ease-out; 
}