.transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, calc(-1 * 100% * var(--overlay-direction, 1)));
    z-index: 1001;

    background-color: var(--color-2);
    opacity: 0;

    pointer-events: none;

    transition: transform 400ms ease-in-out;
}

html.is-changing .transition-overlay {
    opacity: 1;
}

html.is-animating .transition-overlay {
    transform: translate(0, 0);
}

html.is-rendering .transition-overlay {
    transform: translate(0, calc(var(--overlay-direction, 1) * 100%));
}
