:root {
  /* COLORS */
  --color-1: #1A1A34;
  --color-2: #DAFF96;
  --color-3: #ACACE8;
  --color-4: #FBDDF5;
  --color-5: #CFCFCF;
  --color-6: #FFFFFF;
  --color-7: #535383;

  /* SPACINGS */
  --spacing-extra-large: 5em;
  --spacing-large: 2.5em;
  --spacing-extra-small: .75em;

  /* BORDER RADIUSSES */
  --border-radius-extra-large: 1.5em;
  --border-radius-large: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
}

a, button {
  cursor: pointer;
}






